@font-face {
    font-family: 'DISCORegular';
    src: url('DISCO/DISCO___-webfont.eot');
    src: url('DISCO/DISCO___-webfont.eot?#iefix') format('embedded-opentype'),
         url('DISCO/DISCO___-webfont.woff') format('woff'),
         url('DISCO/DISCO___-webfont.ttf') format('truetype'),
         url('DISCO/DISCO___-webfont.svg#DISCORegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
